@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  position: relative;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button.normal {
  border: 1px solid transparent;
  font-family: inherit;
  background-color: #415B77;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #F4F3EE
}

button.normal:hover {
  border-color: #778DA8;
}

button.normal:focus,
button.normal:focus-visible {
  outline: 4px auto #778DA8;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}